<footer class="page-footer font-small">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <p class="texto text-light fs-14 pt-4">REDES SOCIAIS</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-media">
          <li>
            <a href="https://github.com/MiiSantos" target="_blank">
              <i class="fab fa-github-alt mr-4"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/miria-santos/" target="_blank">
              <i class="fab fa-linkedin-in mr-4"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/miquiavelica/" target="_blank">
              <i class="fab fa-instagram mr-4"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <p class="text-light">&copy; Miria Santos &copy;</p>
    </div>
  </div>
</footer>
