ul.social-media {
    list-style: none;
}

ul.social-media li {
    display: inline;
}

.fab {
    font-size: 25pt;
    color: white;
}

.fa-instagram:hover {
    color: #BF0426;
}

.fa-linkedin-in:hover {
    color: #BF0426;
}

.fa-github-alt:hover{
    color: #BF0426;
}

footer {
    background-color: #09030D;
    font-family: 'Cinzel', serif;
}

.texto {
    font-weight: bold;
}

p {
    font-size: 15px;
}

