/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

h5{
    font-size: 18pt;
    font-family: 'Comfortaa', cursive;
}
