.fs-14{
    font-size: 14pt;
}

a {
    cursor: pointer;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    text-decoration: none;
}

.fas{
    color: white;
}

p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}

.nav {
    background-color: #09030D;
}
