h1 {
    font-size: 50pt;
    font-family: 'Comfortaa', cursive;
}

h5{
    font-size: 18pt;
    font-family: 'Comfortaa', cursive;
}

.nav-item {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}